body {
    PADDING-RIGHT: 0px; 
	border:1px solid black;
	margin:8px;
	FONT-FAMILY:Comic Sans MS;
	background:url(../img/background3.png);
	background-size:cover;
}

div .col-xs-4{
	padding-right: 15px;
	min-width:330px;
}

div .col-xs-6{
	padding-right: 15px;
	min-width:330px;
}
hr.div_line{
	border: 0;
    height: 3px;
    background: #2d2929;
    background-image: linear-gradient(to right, #ccc, #2d2929, #ccc);
}
